.page-roles{

   .createRole{
       float: right;
       color: green;
       font-size: xx-large;
   }  

   .updateRole{
       color: blue;
   }

   .deleteRole{
       color:red;
   }
    .table{
        margin-top: -25px;
    }
}
